stm_portal_3-master/framework/tomcat/common/classes/config/module_action_mapper/ModuleActionMapper.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT mapper ((module)*)>
<!ELEMENT module ((module|action)+)>
<!ATTLIST module
	class CDATA #REQUIRED
	name  CDATA #REQUIRED
	id CDATA #IMPLIED
	>
	
<!ELEMENT action (method+)>
<!ATTLIST action
	class CDATA #REQUIRED
	name  CDATA #REQUIRED
	>
	
<!ELEMENT method EMPTY>
<!ATTLIST method
	name  CDATA #REQUIRED
	type (add|del|update|search|other) #REQUIRED
	description  CDATA #REQUIRED
	isAfter (true|false) "true"
	>
	