stm_portal_3-master/framework/tomcat/common/classes/config/lucene/lucene.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT lucene (doc*)>
<!ATTLIST lucene
	lang (cn) "cn"
	>
	
<!ELEMENT doc ((index|doc)*)>
<!ATTLIST doc
	maxFiles CDATA "10"
	obj CDATA #REQUIRED
	keyField CDATA #REQUIRED
	searchMaxDocs CDATA "100"
	>
	
<!ELEMENT index EMPTY>
<!ATTLIST index
	field CDATA #REQUIRED
	type CDATA "String"
	store (true|false) "false"
	>